/* 
    Document   : style
    Created on : Apr 14, 2014, 3:27:48 PM
    Author     : Irfan Budipradipta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Days+One);

/*commit*/

root { 
    display: block;
}

html , body{
    height : 100%;
    padding: 0;
    margin :0;
}
body{
    padding: 0;
    margin :0;
    min-width:1200px;
    background: #F9F9F9;
    position: absolute;
}
body , a , h1, h2, h3 , h4, h5{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}



/* FORM STLE */
.form-login {
    background: #EBEBEB;
    width : 96%;
    padding: 2%;
    border: 2px solid #EBEBEB;
    border-radius : 8px;
    -moz-box-shadow:    0px 8px 4px -3px #ccc;
    -webkit-box-shadow: 0px 8px 4px -3px #ccc;
    box-shadow:         0px 8px 4px -3px #ccc;
    float: left;
}

form input {
	font-family: 'Open Sans', sans-serif;
}

.input-text{
    width: 98%;
    margin-bottom: 10px;
    padding: 3px;
    border-radius : 4px;
    border: 1px solid #CCC;
    color : #999;
    float: left;
}

.input-submit-right{
    background: #F5BA6E;
    border : 0;
    border-radius : 4px;
    padding: 5px 15px;
    margin: 10px 0;
    color : #FFF;
    cursor: pointer;
    float: right;
}

.input-submit-right:hover{
    background: #F79416;
}
/* ---------------- */

.header {
    background: #272727;
    border-bottom: #F7941E 4px solid;
    width : 96%;
    padding: 5px 2%;
    height: 40px;
    min-width: 1152px;
    float : left;
}

.header .logo{
    width: 250px;
    background: url('img/logo_small.png') no-repeat left center;
    height: 40px;
    padding-left: 70px;
    font-size: 28px;
    font-family: 'Comfortaa';
    font-weight: bold;
    color : #666;
    float : left;
}
.content{
    background: #F3F3F3;
    overflow: hidden;
    float: left;
}

.content-login{
    width : 100%;
    height : 100%;
    background: #F3F3F3;
    overflow: hidden;
    float: left;
}

.container{
    width : 95%;
    height : 95%;
    padding: 2.5%;
    overflow: auto;
    float : left;
}

.container-login{
    width : 400px;
    margin: 10% auto;
    
}

.rowfull{
    width : 100%;
    float: left;
}

/* LOGIN PAGE */
.login-title{
    width : 100%;
    padding-bottom: 3px;
    margin-bottom: 10px;
    color: #F79416;
    font-size: 28px;
    font-family: 'Days One', sans-serif;
    float: left;
}

/* -------------- */
/* NAVIGASI */
.mainmenu {
    width : 250px;
    background: #333;
    float : left;
}

.mainmenu-nav{
    padding: 5px 0;
    width: 100%;
    overflow: hidden;
    float: left;
}

.mainmenu-nav .mainmenu-items{
    width:100%;
    padding: 5px 0;
    height: 40px;
    border-bottom: 1px solid #4d4d4d;
    color : #FFF;
    float: left;
}

.mainmenu-nav .mainmenu-items .mainmenu-icons{
    width: 50px;
    height: 40px;
    float : left;
}

.mainmenu-nav .mainmenu-items .mainmenu-labels{
    width: 180px;
    padding-top: 2%;
    height: 98%;
    font-size: 18px;
    float: left;
}

.mainmenu-nav .mainmenu-items .mainmenu-expand{
    width: 10px;
    margin-right: 10px;
    padding-top: 1%;
    height: 99%;
    font-size: 24px;
    cursor: pointer;
    float: left;
}
.mainmenu-nav .submenu{
    background: #4D4D4D;
    width: 100%;
    height: 0px;
    -webkit-transition: height 1s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 1s ease-in-out;
    overflow: hidden;
    float: left;
}


.mainmenu-nav .submenu .submenu-items{
    padding-left:  50px;
    width : 200px;
    float : left;
}

.mainmenu-nav .submenu .submenu-items:hover{
    background: #000;
    color : #EBEBEB;
}

.mainmenu-nav .submenu .submenu-items a{
    width: 96%;
    padding: 10px 2%;
    border-bottom: 1px solid #666;
    display: block;
    font-size: 16px;
    color : #999;
    float : left;
}

/* ICON STYLE */

#icon-content {
    background: url('img/ico_content.png') center no-repeat;
}

#icon-category{
    background: url('img/ico_category.png') center no-repeat;
}

#icon-appsmaker{
    background: url('img/ico_theme.png') center no-repeat;
}

#icon-broadcast{
    background: url('img/ico_broadcast.png') center no-repeat;
}

#icon-user{
    background: url('img/ico_user.png') center no-repeat;
}

#icon-account{
    background: url('img/ico_account.png') center no-repeat;
}

#icon-report{
    background: url('img/ico_report.png') center no-repeat;
}

/*style menu dropdown kanan atas*/
.menuContainer{float: right; }
.menuLayout{float: left; margin-left: 10px;}
.menuText{color: white; padding: 5px; font-size: 16px; padding-top: 10px;}
.accountMenu, .accountImg{height: 40px; width: 40px; border-radius: 50%; cursor: pointer;}
.accountMenu:hover > div{visibility: visible; }
/*.accountImg:hover{background-color: white; }*/
.accSubMenu a{display: block;}
.accSubMenuContainer:hover{visibility: visible;}
.accSubMenu:hover{background-color: white; color:#f7941e;}
.accSubMenu a{color:#f7941e;}
.accSubMenuContainer{
    height: auto; width: 150px;
    color: white; background-color: black;
    position: absolute; z-index: 10;
    border-top: 2px solid #f7941e;
    visibility: hidden;
    margin-left: -110px;
}
.accSubMenu{
    border: 2px solid #f7941e; border-top: none;
    font-size: 20px; cursor: pointer;
    padding: 5px; padding-left: 20px;
}
/*END*/

/*Custom Style by Vero*/
.space10{
    width: 100%;
    float: left;
    height: 10px;
}

.form-createContent{
    width: 96%;
    padding: 2%;
    float: left;
}

.input-textArea{
    max-width: 98%;
    min-width: 98%;
	height:100px;
    border-radius : 4px;
    border: 1px solid #CCC;
    color : #999;
    float: left;
}

.row100{
    width : 100%;
    float: left;
}

.row75{
    width : 75%;
    float: left;
}

.row50{
    width : 50%;
    float: left;
}

.custom-label{
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    float:left;
}

.radioBtnActive span label{
    float:left;
    overflow:auto;
    border: 1px solid black;
}

.radioBtnActive span label span{
    float: left;
    display:block;
    background-color: white;
    color: #CCC;
    padding:5px 10px;
    text-align: center;
    cursor: pointer;
    clear: none;
}

.radioBtnActive span label input {
    position:absolute;
}

.radioBtnActive span input:checked + label span{
    background-color:black;
    color:white;
    display:block;
}

.radioBtnActive span input[type="radio"]{
    display: none;
}

.dropdownCategory{
    width: 99%;
    padding: 2px;
    float: left;
    margin-bottom: 10px;
    border-radius : 4px;
    border: 1px solid #CCC;
    color : #999;
}

.flash-error-custom{
    background-color: lightpink;
    border: 1px solid red;
    color: black;
    border-radius: 4px;
    width : 98%;
    float: left;
    padding: 5px;
}

.flash-success-custom{
    background-color: #d7ff9d;
    border: 1px solid green;
    color: black;
    border-radius: 4px;
    width : 98%;
    float: left;
    padding: 5px;
}

.viewContainer{
    width: 100%;
    height: auto;
}

.imgContentContainer{
    width: 95%;
    margin: 2%;
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.imgContentView{
    width: 100%;
    height: auto;
}

.detailContentContainer{
    width: 95%;
    padding: 1%;
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    margin: 1%;
    font-size: 14px;
    background-color: lightyellow;
}

.detailContentTitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.contentTitleBox,.categoryTitleBox{
    width: 100%;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 2px;
    border-bottom: 2px solid black;
}
.title_only{
	margin-left: 35%;
}
.only_title
{
	width:50%;
	float:left;
	
    font-weight: bold;
}
.only_back
{
	width:50%;
	margin-left:95%;
	color:blue;
	cursor:pointer;
}
.colour_code{
height: 100%;
width: 50px;
margin-left: 95.2%;
}
.form-listContent{
    width: 100%;
    float: left;
}

.contentItemContainer{
    width: 96%;
    margin: 5px;
    border:1px solid #ebebeb;
    height: auto;
    background-color: #fafafa;
    float: left;
}
.code{
	;
}
.categoryItemNews{
	float: left;
width: 72%;
margin: 28px 3px 3px 3px;
padding: 3px;
}

.categoryItemContainer{
    width: 96%;
    margin: 5px;
    border: 1px solid black;
    height: auto;
    background-color: lightgoldenrodyellow;
    float: left;
}
.categoryItemActionBox{
	width:45%;
    float: left;
    text-align: right;
				font-size: 25px;
}

.iconContainer
{
	float:left;
	margin-top:50px;
}

.iconBoxContainer{
	float:left;
	width:120px;
	height:150px;
	margin-left:30px;
	border: 1px solid black;
}

.iconBox{
	float:left;
	width: 99%;
	height: 110px;
	border:1px solid black;
}

.iconDetail{
	float:left;
	width:100%;
	height:20px;
	
}

.iconBuy{
	float:left;
	width:100%;
	height:20px;
	color:blue;
	cursor:pointer;
}


.sub_cat{
	position: relative;
	margin-left: 6%;
	width: 91%;
}
.show:active{
	height:400px;
	transition:2s;
}
.titleCList{
    width: 96%;
    margin: 5px;
}

.pagination{
    text-align:right;
    border: none;
}

.contentItemIconBox{
    width: 20%;
    float: left;
    margin: 3px;
    padding: 3px;
}
.categoryItemIconBox{
    width: 20%;
    float: left;
    margin: 3px;
    padding: 3px;
	margin: 3px 3px 3px 0px;
}
.up, .up_final{
	background: url('img/icon-up.png');
	margin-bottom: 33px;
	background-size: contain;
	width:40px;
	height:40px;
	margin-top: 4px;
}
.up:hover{
	background: url('img/icon-up-hover.png');
	background-size: contain;
}
.down, .down_final{
	background: url('img/icon-down.png');
	background-size: contain;
	width:40px;
	height:40px;
	
	
}

.down:hover{
	background: url('img/icon-down-hover.png');
	background-size: contain;
}
.contentItemIcon{
    width: 153px;
    height: 111px;
    border: 1px solid black;
}

.contentItemNews{
    float: left;
    width: 76%;
    margin: 3px;
    padding: 3px;
}
.categorynaviconbox{
	position: relative;
	margin: 2px;
	float:left;
}
.categoryItemNews{
    float: left;
    width: 68%;
    margin: 3px;
    padding: 3px;
}
.contentItemTitle{
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 1px;
}

.contentItemAuthor, .contentItemDesc{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.contentItemMisc{
    float: left;
    width: 100%;
}

.contentItemStatus{
    width: 50%;
    float: left;
}

.contentItemActionBox{
    width: 50%;
    float: left;
    text-align: right;
				font-size: 25px;
}

.imgPrevious{
    width: 153px;
    height: 111px;
}

.titleWithSearch{
    float: left;
}

.searchBox{
    float: right;
}

.paginationBox{
    width: 96%;
    margin: 5px;
    height: auto;
    float: left;
    margin-left: 25px;
}

.sub_cat.translate{
	transition: max-height 2s;
}
#forUploadcategory,#forUrlcategory{
	height:0px;
	overflow:hidden;
}
#forUploadcategory.translate,#forUrlcategory.translate{
	transition: height 0.25s;
}
.pagination{
    list-style: none;
    float: right;
}

.pagination li{
    float: left;
    width: auto;
    margin-left: 5px;
}

.contentNotFound{
    width: 96%;
    margin: 5px;
    border: 1px solid black;
    height: auto;
    padding: 5px 0px;
    background-color: lightpink;
    float: left;
    text-align: center;
}
.sub{
	width:99%;
	margin:5px 5px 5px -1px;
}

.label-custom-app{
    font-size: 16px;
    font-weight: bold;
}

.radioTheme{
    width:70px; height:70px; display:block; clear:none; cursor:pointer; border:3px solid #F3F3F3;
}
.radio-custom-theme label{
    float:left; margin:5px;
}
.radio-custom-theme label input {
    position:absolute;
}
.radio-custom-theme input:checked + label span{
    border-color: goldenrod; 
}
.radio-custom-theme input[type="radio"]{
    display: none;
}

.btnSubmitTemplate{
    font-size: 16px; padding: 5px; border-radius: 5px; background-color: darkblue; color: white; width:100px;
}

.space20{
	width: 100%;
	float: left;
	height: 20px;
}

.space30{
	width: 100%;
	float: left;
	height: 30px;
}
#color_box{
	position: relative;
	width: 34.8px;
	float: right;
	height: 127px;
}

.general_background{
	border:1px solid #ebebeb; background-color: #fafafa;
}
.iconBoxContainer.hovered{
	border-color:goldenrod;
}

/* style statistic and reminder */

.statisticBox{ width:100%; height:500px; float:left;}
.statTitle{	width:100%; float:left; font-size:16px; text-align:center; font-weight:bold; border-bottom:1px solid black; }
.statistic{ width: 880px; margin: 0 auto; padding: 10px 0px; }
.stat-container { box-sizing: border-box; width: 850px; height: 400px; padding: 20px 15px 15px 15px;	margin: 10px auto; border: 1px solid #ddd; background: #fff; }
.stat-placeholder { width: 100%;	height: 100%; font-size: 14px; line-height: 1.2em; }
.legend, .legend table { width:80px;}
#loadingContainer, #loadingContainer2, #loadingContainer3{ width:100%; height:100%; background-color: white; z-index:-1;}
.loadingImg{ width: 100px; height: 100px; font-size: 0px; display: inline-block; padding-top: 140px; padding-left: 350px;}
.loadingImg{ width: 100px; height: 100px; font-size: 0px; display: inline-block; padding-top: 140px; padding-left: 350px;}

.dropdownPopUp{ width: 82%; padding: 2px; float: left; margin-bottom: 10px; border-radius : 4px; border: 1px solid #CCC; color : #999; }
.labelPopUp{ width:15%; float: left; font-weight:bold; }
.textareaPopUp{ max-width: 82%; min-width: 82%;	height:100px; border-radius : 4px; border: 1px solid #CCC; color : #999; float: left; }
.btnPopUp{ height:30px; margin:5px; font-size:14px; }
.btnBoxPopUp{ padding: 10px; }
.btnExPopUp{ width: 48%; float:left; }

.noReminder{width:98%; margin:0px 10px; padding:5px; background-color:lightyellow; border:1px solid red; border-radius:4px; float:left; text-align:center;}
.reminderBox{width:46%; margin:10px; padding:5px; background-color:white; float:left; border: 1px solid black; border-radius: 4px;}
.reminderBoxHeaderLeft{width:75%; float:left; }
.reminderBoxHeaderRight{width:23%; float:left; margin-left: 5px;}
.reminderBoxHeader{width:100%; float:left;}
.reminderBoxComment{width:97%; overflow:auto; height:0px; float:left; padding:5px; visibility:hidden;}

.reminder-icoBox{padding:4px 2px; float:right;}
.reminder-ico{width:23px;height:23px; display:block; cursor:pointer;}
.reminder-check{width:18px;height:18px; cursor:pointer; -moz-appearance:none; -webkit-appearance:none; -o-appearance:none; border-radius:50%; border:1px solid #ccc;}
.reminder-check:checked{background:green;}
.reminder-check:hover{border:1px solid black; }
#ico-del{background: url('img/ico-del2.png') center no-repeat; }
#ico-del:hover{background: url('img/ico-del.png') center no-repeat; }
.ico-comm-down{background: url('img/ico-comm2.png') center no-repeat;}
.ico-comm-down:hover{background: url('img/ico-comm.png') center no-repeat;}
.ico-comm-up{background: url('img/ico-comm4.png') center no-repeat;}
.ico-comm-up:hover{background: url('img/ico-comm3.png') center no-repeat;}
.reminderFrom{ width:100%; float:left; }
.reminderMessage{ font-weight:bold; margin-left:10px; width:98%; font-size:14px; float:left; overflow:hidden;}
.reminderDate{color:#ccc; float:right;}

.reminderCommentList{width:100%; height:250px; float:left; border:1px solid #ccc; overflow:auto; margin-top:5px;}
.reminderCommentForm{width:100%; float:left; margin-top:5px;}
.reminder-commentTextArea{max-width:99%; min-width:99%; height:50px; border-radius : 4px; border: 1px solid #CCC; color : #999; float: left; resize: none;}
.reminder-commentBtn{width:15%; float:right; margin-top:5px;}
.noComment{width:95%; margin:0px 10px; padding:5px; background-color:lightyellow; border-radius:4px; float:left; text-align:center;}
.loadingBox{background-color: white; opacity: 0.2; z-index:-1; width:100%; height: 250px; float:left;}
/*end of style statistic and reminder*/